// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


div.form-transaction {
  display: inline-block;

  form {
    min-width: 35px;
    min-height: 35px;
  }
}
